PORT=3001
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=botzone
DB_USERNAME=botzone
DB_PASSWORD=botzonepass
REDIS_HOST=redis
REDIS_PORT=6379
TRUST_IP=127.0.0.1
JUDGE_CAPABILITY=15
COMPILE_TIME_LIMIT_MS=10000
COMPILE_MEMORY_LIMIT_MB=512
